footer{
    padding: 100px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    justify-items: center;
    img{
        width: 250px;
    }
    .nav_footer{
        display: flex;
        flex-direction: column;
        justify-content: start;
        a:nth-of-type(1){
            color: #000;
            font-weight: bold;
        }
        a{
            color: $maincolor;
            margin-bottom: 20px;
        }
    }   
}
.small{
    background-color: $maincolor;
    padding: 20px 0;
    text-align: center;
    color: #fff;
}