// Global
body{
    font-family: Arial;
}
a{
    text-decoration: none;
    text-transform: uppercase;
}
.wrapper{
    max-width: 1440px;
    margin: 0 auto;
}
.center{
    text-align: center;
}
.subtitle{
    text-transform: uppercase;
    color: rgb(170, 168, 168);
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: bold;
}
.title_big{
    text-transform: uppercase;
    font-size: 44px;
    font-weight: normal;
    letter-spacing: 1px;

}
.title_under_pic{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
    padding: 10px 0;
}
.title_mid{
    text-transform: uppercase;
    font-size: 32px;
    font-weight: normal;
    letter-spacing: 1px;
}
.small_a{
    text-transform: uppercase;
    color: rgb(170, 168, 168);
    letter-spacing: 3px;
    font-weight: bold;
}
.img_scale{
    overflow: hidden;
    img{
        width: 100%;
        @include transition;
        display: block;
        &:hover{
            scale: 1.05;
        }
    }
}


// Main
.collection{
    margin-top: 30px;
    .main_box{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;  
    }
}
.four_img{
    div:nth-of-type(2){
        text-align-last: left;
    }
}

.grey_box{
    width: 100vw;
    background-color: #efeaea;
    margin: 70px 0;
    padding: 70px 0;
    .family_business{
        display: flex;
        &>div:nth-of-type(1){
            width:50%;
            img{
                width: 100%;
                object-fit: cover;
                display: block;
            }
        }
        &>div:nth-of-type(2){
            width: 50%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .family_content{
                @include width_center (475px);
                p{
                    line-height: 1.5;
                    font-size: 19px;
                    padding-bottom: 30px;
                }
                a{
                    color: #fff;
                    border: 1px solid $maincolor;
                    background-color: $maincolor;
                    padding: 20px 75px;
                }               
            }  
        }
    }
}
.favourite_box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    .favourite_content{
        @include width_center (500px);
        p{
            line-height: 1.5;
            padding-bottom: 15px;
        }
    } 
}
.started{
    span:nth-of-type(1){
        &::after{
            content:'|';
            margin-left: 10px;
            color: rgb(170, 168, 168);
        }
    }
    span:nth-of-type(2){
        margin-left: 10px;
    }
}
.grape_vine{
    h2{
        margin-top: 120px;
    }
    .three_img{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        img{
            height: 350px;
            object-fit: cover;
            object-position: center;
        }
    }
}
.grape_vine_content{
    margin-top: 20px;
    a:nth-of-type(1)::before{
        content:'|';
        margin: 0 10px;
    }
    h3{
        font-size: 28px;
        min-height: 120px;
    }
    p{
        line-height: 1.5;
    }
}
.last_button_container{
    width: 100%;
    text-align: center;
    margin: 70px 0;
    .last_button{
        text-align: center;
        color: #fff;
        border: 1px solid $maincolor;
        background-color: $maincolor;
        padding: 20px 75px;
        display: inline;
       
    }

}
.join_span{
    grid-column: span 2;
    grid-row: span 2;
}
.new_release{
    border: 1px solid beige;
    display: inline;
    background-color: beige;
    padding: 5px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.single_bottles_main{
    margin-top: 350px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    .w300{
        width: 320px;
        &:hover{
            background-image: url(../images/pinot191_628x628.png);
        }
    }
}
.single_bottles_box{
    position: relative;
    .fa-heart{
        color:rgb(54, 4, 4);
        background-color: rgb(231, 214, 214);
        padding: 10px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        right: 10px;
        
    }
}
.join_content{
    position: absolute;
    left: 30px;
    bottom: 50px;
    h3{
        color: #fff;
    }
    a{
        text-decoration: none;
        border: 1px solid grey;
    } 
}
.sb_content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 14px;
    a{
        text-transform: none;
        margin-bottom: 5px;
        color: #000;
    };
    div{
        justify-self: end;
    }
    small{
        color: grey;
        font-weight: bold;
        font-style: italic;
    }
}



