// Header
.whitehall{
    border-bottom: 0.5px solid $maincolor;
    background-color: #fff;
}
.whitehall_center{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 40px 0;
    .searchbar{
        position: relative;
        justify-self: start;
        input{
            border: 1px solid $maincolor;
            padding: 15px 0 15px 50px;
            font-size: 22px;
        }
        button{
            position: absolute;
            left: 7px;
            top: 13px;
            border: none;
            background-color: #fff;
            font-size: 24px;
        }
    }
    &>a{
        margin: 0 auto;
        justify-self: center;
    }
    .icons{
        justify-self: end;
        position: relative;
        a{
            color: #000; 
            font-size: 22px;            
        }
        a:nth-of-type(2){
            margin: 0 10px;
        }
        sup{
            background-color: $maincolor;
            color: #fff;
            padding: 10px 5px;
            border-radius: 50%;
            position: absolute;
            translate: -10px; 
        } 
    }  
}
.online_shop{
    background-color: #fff;
    .online_shop_center{
        @include width_center(600px);
        display: flex;
        justify-content: center;
        padding: 30px 0;
        a{
            margin: 0 auto;
            text-transform: uppercase;
            color: #000;
            font-weight: bold;
        }
    }
}
    